body {
	text-align: center;

	background:
		-webkit-linear-gradient(45deg, #92baac 45px, transparent 45px),
		-webkit-linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
		-webkit-linear-gradient(225deg, transparent 46px, #e1ebbd 46px, #e1ebbd 91px, transparent 91px),
		-webkit-linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px) !important;
	background:
		linear-gradient(45deg, #92baac 45px, transparent 45px),
		linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
		linear-gradient(225deg, transparent 46px, #e1ebbd 46px, #e1ebbd 91px, transparent 91px),
		linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px) !important;

	background-color: #e1ebbd !important;

	-webkit-background-size: 128px 128px !important;
	background-size: 128px 128px !important;
}
