/* FONT PATH
 * -------------------------- */
@font-face {
	font-family: 'fontawesomedirection';
	src:url('fonts/fontawesomedirection.eot');
	src:url('fonts/fontawesomedirection.eot?#iefix') format('embedded-opentype'),
		url('fonts/fontawesomedirection.woff') format('woff'),
		url('fonts/fontawesomedirection.ttf') format('truetype'),
		url('fonts/fontawesomedirection.svg#fontawesomedirection') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* skin : minima ==> but color from light-theme-royal-blue */
/* sub menu */
#subnav {
	border: 1px solid #eee;
}
#subnav li {
	border-right: 1px solid #D8D8D8;
}
#subnav a, #subnav a:visited {
	font-weight: normal;
	font-style: italic;
}
#subnav li.current_page_item a, #subnav li.current_page_item a:visited {
	font-weight: bold;
	font-style: normal;
}
#subnav li a:hover {
}

/* next & previous page navigation */
.page-nav a:hover {
	color: #227ad1;
}

/* next & previous post navigation */
.post-nav a:hover {
	color: #227ad1;
}

.suf-page-nav a, .suf-page-nav a:visited, .suf-page-nav span {
	border-color: #227ad1;
	color: #227ad1;
}

.suf-page-nav a:hover {
	background-color: #227ad1;
}

.suf-page-nav span.current {
	background-color: #227ad1;
	color: #ffffff;
}

/* These settings are for common plugins */
.wp-pagenavi a, .wp-pagenavi a:visited, .wp-pagenavi span {
	border-color: #227ad1;
	color: #227ad1;
}

.wp-pagenavi span.current {
	background-color: #227ad1;
	color: #fff;
}

.wp-pagenavi a:hover {
	background-color: #227ad1;
	color: #fff;
}

/* sidebar */
.suf-mag-category li, .sidebar-tab-content ul li, .suf-widget li, .suf-flat-widget li, .suf-panel-widget li {
	background-image: none;
}

.tab-box div.sbtab-content-categories ul li, .widget_categories ul li {
	background-image: none;
}

.wp-pagenavi a, .wp-pagenavi span {
	border-width: 1px;
	border-style: solid;
}

.wp-pagenavi span.extend {
	border: none;
}
/* skin : minima ==> but color from light-theme-royal-blue */
/***********************************************************/

/* reset */
html {
	overflow-y: scroll;
}
*html {
	overflow-y: scroll;
}/* IE6 Only */
*+ html {
	overflow-y: scroll;
}/* IE7 Only */

/* IE Hack */
body {
	behavior: url(csshover3.htc);
}


/* html elements */
strong {
	font-weight: bold;
}

a:active {
	position: relative;
	/*top: 1px;*/
}


.entry th, .comment-body th { text-align: lefte; padding: 0;  border-bottom: none; }
.entry td, .comment-body td { padding: 6px; border-bottom: none; }


/* main menu */
/*#nav.fixedtop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}*/

#nav-top, #nav {
	z-index: 980;
}
#nav-top ul, #nav ul {
	z-index: 981;
}
#nav-top a, #nav a {
	-webkit-transition: all .2s ease-in !important;
	-khtml-transition: all .2s ease-in !important;
	-moz-transition: all .2s ease-in !important;
	-ms-transition: all .2s ease-in !important;
	-o-transition: all .2s ease-in !important;
	transition: all .2s ease-in !important;
}
#nav ul ul li, #nav ul ul li a {
	z-index: 998;
}
#nav li {
	z-index: 990;
}
#nav li a:hover, #nav li:hover {
	z-index: 998;
}
#nav-top ul ul li, #nav-top ul ul li a {
	z-index: 998;
}
#nav-top li {
	float: left;
	position: relative;
	z-index: 990;
}
#nav-top li a:hover, #nav-top li:hover {
	z-index: 998;
}


/* Featured Content */
body.home div#main-col .sliderImage div {
/*	-webkit-border-radius: 3px !important;
	-khtml-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-ms-border-radius: 3px !important;
	-o-border-radius: 3px !important;
	border-radius: 3px !important;*/
}
body.home div#main-col .sliderImage .top {
	height: auto !important;
}
body.home div#main-col .sliderImage .bottom {
	margin-bottom: 30px !important;
	height: auto !important;
}
body.home div#main-col .sliderImage .left {
	left: 10px !important;
	top: 10px !important;
	height: auto !important;
}
body.home div#main-col .sliderImage .right {
	right: 10px !important;
	bottom: 10px !important;
	height: auto !important;
}

/* post */
.post .date span.day {
	font: normal 75% Arial, Helvetica, sans-serif;
}

/* post footer */
div.post-footer {
	display: none !important;
}

/* footer */
/* credit */
div#cred table tr td.cred-left, div#cred table tr td.cred-right {
	visibility: hidden;
	display: none;
}

/* input */
textarea {
	width: 87%;
	max-width: 95%;
}

input[type="text"], input[type="password"], input[type="file"], textarea, select {
	padding: 3px 5px;
	-webkit-box-shadow: inset 1px 1px 1px 1px rgba(192,192,192,.2);
	-khtml-box-shadow: inset 1px 1px 1px 1px rgba(192,192,192,.2);
	-moz-box-shadow: inset 1px 1px 1px 1px rgba(192,192,192,.2);
	-ms-box-shadow: inset 1px 1px 1px 1px rgba(192,192,192,.2);
	-o-box-shadow: inset 1px 1px 1px 1px rgba(192,192,192,.2);
	box-shadow: inset 1px 1px 1px 1px rgba(192,192,192,.2);
}

/* button glossy-color */
input[type="submit"], input[type="button"], input[type="reset"], .button, .submit, .comment-reply-link {
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	padding: 3px 10px;
	color: #FFF;
	border: solid 1px #4b546a;
	background-color: #606c88;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #3f4c6b));
	background-image: -webkit-linear-gradient(top, #606c88, #3f4c6b);
	background-image: -khtml-linear-gradient(top, #606c88, #3f4c6b);
	background-image: -moz-linear-gradient(top, #606c88, #3f4c6b);
	background-image: -ms-linear-gradient(top, #606c88, #3f4c6b);
	background-image: -o-linear-gradient(top, #606c88, #3f4c6b);
	background-image: linear-gradient(top, #606c88, #3f4c6b);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#606c88', endColorstr='#3f4c6b');
	zoom: 1;
	-webkit-text-shadow: -1px -1px 0 rgba(0,0,0,.3);
	-khtml-text-shadow: -1px -1px 0 rgba(0,0,0,.3);
	-moz-text-shadow: -1px -1px 0 rgba(0,0,0,.3);
	-ms-text-shadow: -1px -1px 0 rgba(0,0,0,.3);
	-o-text-shadow: -1px -1px 0 rgba(0,0,0,.3);
	text-shadow: -1px -1px 0 rgba(0,0,0,.3);
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, .button:hover, .submit:hover, .comment-reply-link:hover, input[type="submit"]:focus, input[type="button"]:focus, input[type="reset"]:focus, .button:focus, .submit:focus, .comment-reply-link:focus {
	text-decoration: none;
	color: #FFF;
	border: solid 1px #4b546a;
	background-color: #4b546a;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4b546a), color-stop(100%, #2c354b));
	background-image: -webkit-linear-gradient(top, #4b546a, #2c354b);
	background-image: -khtml-linear-gradient(top, #4b546a, #2c354b);
	background-image: -moz-linear-gradient(top, #4b546a, #2c354b);
	background-image: -ms-linear-gradient(top, #4b546a, #2c354b);
	background-image: -o-linear-gradient(top, #4b546a, #2c354b);
	background-image: linear-gradient(top, #4b546a, #2c354b);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#4b546a', endColorstr='#2c354b');
	zoom: 1;
	-webkit-transition-duration: .2s !important;
	-khtml-transition-duration: .2s !important;
	-moz-transition-duration: .2s !important;
	-ms-transition-duration: .2s !important;
	-o-transition-duration: .2s !important;
	transition-duration: .2s !important;
}
/* else ... search-button */
input[type="submit"].searchsubmit, input[type="submit"].searchsubmit:hover, input[type="submit"].searchsubmit:focus, input[type="submit"].searchsubmit:active {
	border: none !important;
	background: none !important;
	background: url(images/search-button.png) no-repeat 0 0 !important;
	background-color: transparent !important;
	-webkit-box-shadow: none !important;
	-khtml-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: none !important;
	-khtml-border-radius: none !important;
	-moz-border-radius: none !important;
	-ms-border-radius: none !important;
	-o-border-radius: none !important;
	border-radius: none !important;
	-webkit-animation-name: none !important;
	-khtml-animation-name: none !important;
	-moz-animation-name: none !important;
	-ms-animation-name: none !important;
	-o-animation-name: none !important;
	animation-name: none !important;
	-webkit-transition-duration: none !important;
	-khtml-transition-duration: none !important;
	-moz-transition-duration: none !important;
	-ms-transition-duration: none !important;
	-o-transition-duration: none !important;
	transition-duration: none !important;
}
/* else ... disabled */
input[type="submit"]:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, .button:disabled, .submit:disabled, .comment-reply-link:disabled {
	text-decoration: none;
	padding: 2px 8px;
	border: solid 1px #d6d6d6;
	background-color: #efefef;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, #dedede));
	background-image: -webkit-linear-gradient(top, #efefef, #dedede);
	background-image: -khtml-linear-gradient(top, #efefef, #dedede);
	background-image: -moz-linear-gradient(top, #efefef, #dedede);
	background-image: -ms-linear-gradient(top, #efefef, #dedede);
	background-image: -o-linear-gradient(top, #efefef, #dedede);
	background-image: linear-gradient(top, #efefef, #dedede);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#efefef', endColorstr='#dedede');
	zoom: 1;
	-webkit-animation-name: none !important;
	-khtml-animation-name: none !important;
	-moz-animation-name: none !important;
	-ms-animation-name: none !important;
	-o-animation-name: none !important;
	animation-name: none !important;
	-webkit-transition-duration: none !important;
	-khtml-transition-duration: none !important;
	-moz-transition-duration: none !important;
	-ms-transition-duration: none !important;
	-o-transition-duration: none !important;
	transition-duration: none !important;
}
/* animation-grow  */
input:focus, textarea:focus, select:focus, .button:focus, .submit:focus, .searchfield:focus, .comment-reply-link:focus {
	border: solid 1px #B6D1E4 !important;
	-webkit-box-shadow: 0 0 5px #97CAFF, inset 1px 1px 1px 1px rgba(192,192,192,.2) !important;
	-khtml-box-shadow: 0 0 5px #97CAFF, inset 1px 1px 1px 1px rgba(192,192,192,.2) !important;
	-moz-box-shadow: 0 0 5px #97CAFF, inset 1px 1px 1px 1px rgba(192,192,192,.2) !important;
	-ms-box-shadow: 0 0 5px #97CAFF, inset 1px 1px 1px 1px rgba(192,192,192,.2) !important;
	-o-box-shadow: 0 0 5px #97CAFF, inset 1px 1px 1px 1px rgba(192,192,192,.2) !important;
	box-shadow: 0 0 5px #97CAFF, inset 1px 1px 1px 1px rgba(192,192,192,.2) !important;
}

/* Tables */
.entry table.border {
	width: 100%;
	border: 1px solid #eee;
	*border-collapse: collapse;
	border-collapse: separate;
	border-spacing: 0;
	margin: 1em 0;
	padding: 0;
	overflow: hidden;
/*	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;*/
	-webkit-box-shadow: 0 1px 1px #ebebeb;
	-khtml-box-shadow: 0 1px 1px #ebebeb;
	-moz-box-shadow: 0 1px 1px #ebebeb;
	-ms-box-shadow: 0 1px 1px #ebebeb;
	-o-box-shadow: 0 1px 1px #ebebeb;
	box-shadow: 0 1px 1px #ebebeb;
}
.entry table.border thead,
.entry table.border thead th,
.entry table.border thead td,
.entry table.border tbody th {
	text-align: center;
}
.entry table.border tbody,
.entry table.border tbody td {
	text-align: left;
}
.entry table.border tfoot,
.entry table.border tfoot td {
	text-align: left;
}
.entry table.border tr,
.entry table.border th,
.entry table.border td {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: none;
	border-bottom: none;
	padding: 3px 5px;
}
.entry table.border tfoot td {
	background: url(images/background/table-tfoot.png) repeat-x 0 bottom;
}
.entry table.border tbody td {
	vertical-align: top;
}

.entry table.border tbody tr:hover {
	background: #FBF8E9;
	-webkit-opacity: .8;
	-khtml-opacity: .8;
	-moz-opacity: .8;
	-ms-opacity: .8;
	-o-opacity: .8;
	opacity: .8;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	-webkit-transition: all .1s ease-in-out;
	-khtml-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}

.entry table.border thead td,
.entry table.border thead th,
.entry table.border tbody th {
	background-color: #f5f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
	background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -khtml-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
	background-image: linear-gradient(top, #ffffff, #f5f5f5);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#ffffff', endColorstr='#f5f5f5');
	zoom: 1;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-khtml-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	border-top: none;
	-webkit-text-shadow: 0 1px 0 rgba(255,255,255,.5);
	-khtml-text-shadow: 0 1px 0 rgba(255,255,255,.5);
	-moz-text-shadow: 0 1px 0 rgba(255,255,255,.5);
	-ms-text-shadow: 0 1px 0 rgba(255,255,255,.5);
	-o-text-shadow: 0 1px 0 rgba(255,255,255,.5);
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.entry table.border td:first-child,
.entry table.border th:first-child {
	border-left: none;
}
.entry table thead td:first-child, .entry table thead th:first-child {
/*	-webkit-border-radius: 2px 0 0 0;
	-khtml-border-radius: 2px 0 0 0;
	-moz-border-radius: 2px 0 0 0;
	-ms-border-radius: 2px 0 0 0;
	-o-border-radius: 2px 0 0 0;
	border-radius: 2px 0 0 0;*/
}
.entry table thead td:last-child, .entry table thead th:last-child {
/*	-webkit-border-radius: 0 2px 0 0;
	-khtml-border-radius: 0 2px 0 0;
	-moz-border-radius: 0 2px 0 0;
	-ms-border-radius: 0 2px 0 0;
	-o-border-radius: 0 2px 0 0;
	border-radius: 0 2px 0 0;*/
}
.entry table thead td:only-child, .entry table thead th:only-child {
/*	-webkit-border-radius: 2px 2px 0 0;
	-khtml-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	-ms-border-radius: 2px 2px 0 0;
	-o-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;*/
}
.entry table tbody tr:last-child td:first-child, .entry table tfoot tr:last-child td:first-child {
/*	-webkit-border-radius: 0 0 0 2px;
	-khtml-border-radius: 0 0 0 2px;
	-moz-border-radius: 0 0 0 2px;
	-ms-border-radius: 0 0 0 2px;
	-o-border-radius: 0 0 0 2px;
	border-radius: 0 0 0 2px;*/
}
.entry table tbody tr:last-child td:last-child, .entry table tfoot tr:last-child td:last-child {
/*	-webkit-border-radius: 0 0 2px 0;
	-khtml-border-radius: 0 0 2px 0;
	-moz-border-radius: 0 0 2px 0;
	-ms-border-radius: 0 0 2px 0;
	-o-border-radius: 0 0 2px 0;
	border-radius: 0 0 2px 0;*/
}

.entry table.no-border {
	border: none;
	-webkit-border-radius: none;
	-khtml-border-radius: none;
	-moz-border-radius: none;
	-ms-border-radius: none;
	-o-border-radius: none;
	border-radius: none;
	-webkit-box-shadow: none;
	-khtml-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.entry table.no-border tr, .entry table.no-border th, .entry table.no-border td {
	border: none;
}
.entry table.no-border tbody tr:hover, .entry table.no-hover tbody tr:hover {
	background: none;
	-webkit-opacity: 1;
	-khtml-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-webkit-transition: none;
	-khtml-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

/* Images */
img .alignleft {
	margin-right: 1em !important;
}
img .alignright {
	margin-left: 1em !important;
}

/* WP-Caption  */
.entry .wp-caption {
	background: #F5F5F5;
	border: 1px solid #DDD;
	text-align: center;
	margin: 1em 0;
	padding: 8px 3px 3px 3px;
/*	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;*/
}
.entry .wp-caption img {
	max-width: 98%;
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
}

.entry .wp-caption .wp-caption-text, .entry .wp-caption-dd {
	font-size: 85%;
	color: #333;
	text-align: center;
	margin: 0;
	padding: 3px;
}

.entry .wp-caption .aligncenter {
	margin-left: auto;
	margin-right: auto;
}
.entry .wp-caption .alignleft {
	float: left;
	margin-right: 1em;
}
.entry .wp-caption .alignright {
	float: right;
	margin-left: 1em;
}

/* featured-posts */
.sliderImage div {
	-webkit-opacity: .7;
	-khtml-opacity: .7;
	-moz-opacity: .7;
	-ms-opacity: .7;
	-o-opacity: .7;
	opacity: .7;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
.controller-icons #sliderControl .slide-hovered, .controller-icons .sliderControl .slide-hovered {
	-webkit-opacity: .5;
	-khtml-opacity: .5;
	-moz-opacity: .5;
	-ms-opacity: .5;
	-o-opacity: .5;
	opacity: .5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
.controller-icons #sliderControl .control-hovered, .controller-icons .sliderControl .control-hovered {
	-webkit-opacity: 1;
	-khtml-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}

/* thumbnail */
.warea ul.suf-posts-thumbnail, ul.suf-posts-thumbnail {
	margin-left: 0;
	padding-left: 0;
}

.warea ul.suf-posts-thumbnail li, ul.suf-posts-thumbnail li {
	border-bottom: none;
	padding: 3px 0;
	list-style: none;
	list-style-type: none;
}
.warea ul.suf-posts-thumbnail li img.suf-widget-thumb, ul.suf-posts-thumbnail li img.suf-widget-thumb {
	border: 1px solid #e0e0e0;
	padding: 2px;
}


/* Standard Styles */
body { line-height: 1.45; }

a { text-decoration: none; }
a, a:visited { color: #227ad1; }

/* Blog title */
.blogtitle a:hover { color: #227ad1; }


/* main menu */
#nav {
/*	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;*/
}

#nav-top ul li a, #nav ul li a {
	background: none !important;
	background-color: #1b88ce !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.25)), to(rgba(0,0,0,.25))) !important;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -khtml-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -ms-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -o-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#0066C0', endColorstr='#004D91') !important;*/
	zoom: 1 !important;
}

#nav-top a.current, #nav-top a.current:visited, #nav-top a.current:hover, #nav-top a.current:active, #nav-top li a:hover,
#nav a.current, #nav a.current:visited, #nav a.current:hover, #nav a.current:active, #nav li a:hover {
	background: none !important;
	background-color: #156ba1 !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.25)), to(rgba(0,0,0,.25))) !important;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -khtml-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -ms-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -o-linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: linear-gradient(top, rgba(0,0,0,.25) 0%, rgba(0,0,0,.25) 100%) !important;
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#006699', endColorstr='#004D73') !important;*/
	zoom: 1 !important;
}

#nav-top.continuous a.current, #nav-top.continuous a.current:visited, #nav-top.continuous a.current:hover, #nav-top.continuous a.current:active,
#nav-top.continuous li a:hover, #nav-top.continuous li li a, #nav-top.continuous li li a:visited,
#nav.continuous a.current, #nav.continuous a.current:visited, #nav.continuous a.current:hover, #nav.continuous a.current:active,
#nav.continuous li a:hover, #nav.continuous li li a, #nav.continuous li li a:visited {
	background: none !important;
	background-color: #1b88ce !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.0)), to(rgba(0,0,0,.25))) !important;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -khtml-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -ms-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -o-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#0066C0', endColorstr='#004D91') !important;*/
	zoom: 1 !important;
}
#nav-top.continuous, #nav-top.continuous ul li,
#nav-top.continuous a, #nav-top.continuous a:visited, #nav-top.continuous li li a:hover,
#nav-top.continuous li li a.current, #nav-top.continuous li li a.current:visited, #nav-top.continuous li li a.current:hover, #nav-top.continuous li li a.current:active,
#nav.continuous, #nav.continuous ul li,
#nav.continuous a, #nav.continuous a:visited, #nav.continuous li li a:hover,
#nav.continuous li li a.current, #nav.continuous li li a.current:visited, #nav.continuous li li a.current:hover, #nav.continuous li li a.current:active {
	background: none !important;
	background-color: #156ba1 !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.0)), to(rgba(0,0,0,.25))) !important;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -khtml-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -ms-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -o-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#006699', endColorstr='#004D73') !important;*/
	zoom: 1 !important;
}

#nav-top {
	background: none !important;
	background-color: #1b88ce !important;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.0)), to(rgba(0,0,0,.25))) !important;
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -khtml-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -moz-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -ms-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: -o-linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	background-image: linear-gradient(top, rgba(0,0,0,.0) 0%, rgba(0,0,0,.25) 100%) !important;
	/*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, startColorstr='#0066C0', endColorstr='#004D91') !important;*/
	zoom: 1 !important;
}


.nav-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-opacity: .6;
	-khtml-opacity: .6;
	-moz-opacity: .6;
	-ms-opacity: .6;
	-o-opacity: .6;
	opacity: .6;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
}


/* header */
.description {
	font-weight: bold !important;
	color: #fff !important;
	-webkit-text-shadow: 0 0 20px #000, 0 0 10px #000, 1px 1px 1px #000 !important;
	-khtml-text-shadow: 0 0 20px #000, 0 0 10px #000, 1px 1px 1px #000 !important;
	-moz-text-shadow: 0 0 20px #000, 0 0 10px #000, 1px 1px 1px #000 !important;
	-ms-text-shadow: 0 0 20px #000, 0 0 10px #000, 1px 1px 1px #000 !important;
	-o-text-shadow: 0 0 20px #000, 0 0 10px #000, 1px 1px 1px #000 !important;
	text-shadow: 0 0 20px #000, 0 0 10px #000, 1px 1px 1px #000 !important;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#444444, strength=3, direction=135) !important;
	zoom: 1;
}

/* main menu */
.float-ptr { background: url(images/arrows-light.gif) no-repeat scroll -16px 0 transparent !important; }
.down-ptr { background: url(images/arrows-light.gif) no-repeat scroll 0 0 transparent !important; }

/* Main column  */
#main-col,
#single-col {
	margin-top: 10px;
}

/* content */
#content { margin-top: 10px; }

.post,
div.page,
article.page { border: none; }

hr {
	border: 1px dotted #A7BDD8;
	margin-bottom: 1em;
}

h1.posttitle,
h2.posttitle { border-bottom: 1px solid #eee; }

h1.author-title,
h1.category-title,
h2.author-title,
h2.category-title { border-bottom: 1px solid #eee; }

.headline2 {
	width: 60%;
	border-bottom: 1px solid #B6D1E4;
	margin: 15px 0;
	padding: 5px 0;
	position: relative;
}
.headline2:before,
.headline2:after{
	content: '';
	border-right: 20px solid #fff;
	border-top: 15px solid #B6D1E4;
	bottom: -15px;
	position: absolute;
	left: 25px;
}
.headline2:after{
	border-top-color: #fff;
	border-right-color: transparent;
	bottom: -13px;
	left: 26px;
}

.headline2-img {
	width: 31%;
}

/* post title */
h1.posttitle a:hover,
h2.posttitle a:hover {
	color: #227ad1;
	text-decoration: none;
}
.tags a:hover {
	color: #227ad1;
	text-decoration: none;
}

div.date { display: none; }
div.postdata.line {
	text-align: left;
	padding: .8em 0;
	width: 98%;
	*display: inline;
	_display: inline;
	*overflow: hidden;
	_overflow: hidden;
}
div.postdata a:hover { color: #227ad1; }

/* Entry */
/* ... Front-Page */
.entry,
.non-wp-entry { padding-top: 15px; }
body.home #content .page .entry { padding: 0; }

/* author vcard */
span.author span.vcard {
	visibility: hidden;
	display: none;
}

.entry a { text-decoration: none; }
.entry a:visited,
.entry a:hover { text-decoration: underline; }

/* Magazine */
h2.suf-mag-headlines-title,
.suf-mag-excerpts-header,
.suf-mag-categories-header,
.suf-mag-headlines {
	border: 1px solid #eee;
}
.suf-mag-headline-block li.suf-mag-headline a.tab-current {
	color: #eee !important;
	background-color: #135F8F !important;
}
.suf-mag-headline-block li.suf-mag-headline a:hover,
.suf-mag-headline-block li.suf-mag-headline a.tab-current:hover {
	color: #fff !important;
	background-color: #2e6e9e !important;
	font-weight: bold !important;
}
.suf-mag-headline-block li.suf-mag-headline-first a.suf-mag-headline {
	font-weight: bold !important;
}

/* Gallery List */
ul.gallery.list li.gallery-item a:hover,
ul.gallery.list li.gallery-item a:visited { color: #227ad1; }

/* footer */
/* credit */
div#cred table tr td.cred-left { visibility: hidden; }

#page-footer, #cred {
	border-top: 1px solid #B6D1E4;
	margin: 1em 0 0 0;
}

#cred a { text-decoration: none; }
#cred a:hover { color: #227ad1; }

/* sidebar */
#sidebar {
	margin-top: 22px;
}

div.sidebar-tab-content a:hover,
div.sidebar-tab-content a:focus,
div.sidebar-tab-content a:active,
.suf-widget a:hover,
.suf-widget a:focus,
.suf-widget a:active,
.warea a:hover,
.warea a:focus,
.warea a:active { color: #227ad1; }

/*h3.dbx-handle.plain { border-color: #ddd; }*/
h3.dbx-handle.plain { border: none; }


/* widget */
#horizontal-outer-widgets-1,
#horizontal-outer-widgets-2 {
	border-top: 1px solid #eee;
	padding: 5px 0 5px 0;
}




/* Shortcode */
/* Timeliner */
.timelineToggle a.expandAll:hover {
	color: #227ad1 !important;
}
.timelineToggle a.expandAll.expandAllclosed:before,
.timelineToggle a.expandAll.expandAllopen:before {
	font-family: 'fontawesomedirection' !important;
	font-weight: inherit !important;
	font-style: inherit !important;
	font-size: 1em;
	text-decoration: inherit !important;
	-webkit-font-smoothing: antialiased !important;
	margin: 0 .3em 0 0 !important;
	padding: 0 !important;
	display: inline-block !important;
	speak: none !important;

	-webkit-transition: all .4s !important;
	-khtml-transition: all .4s !important;
	-moz-transition: all .4s !important;
	-ms-transition: all .4s !important;
	-o-transition: all .4s !important;
	transition: all .4s !important;
}
.timelineToggle a.expandAll.expandAllclosed:before {
	/* icon-expand-alt */
	content: "\f116" !important
}
.timelineToggle a.expandAll.expandAllopen:before {
	/* icon-collapse-alt */
	content: "\f117" !important;
}




/* Plugins */
/* Trust Form */
div#trust-form.contact-form {
	width: 90% !important;
	position: relative !important;
	background: none !important;
	margin: 1em 3px !important;
	padding: 1em !important;
	border: 1px solid #eee !important;
	zoom: 1 !important;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset !important;
	-khtml-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset !important;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset !important;
	-ms-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset !important;
	-o-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset !important;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset !important;
/*	-webkit-border-radius: 3px !important;
	-khtml-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	-ms-border-radius: 3px !important;
	-o-border-radius: 3px !important;
	border-radius: 3px !important;*/
}
div#trust-form.contact-form table {
	background: none !important;
	border: none !important;
	-webkit-border-radius: none !important;
	-khtml-border-radius: none !important;
	-moz-border-radius: none !important;
	-ms-border-radius: none !important;
	-o-border-radius: none !important;
	border-radius: none !important;
	-webkit-box-shadow: none !important;
	-khtml-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
}
div#trust-form.contact-form table tr,
div#trust-form.contact-form table th,
div#trust-form.contact-form table td {
	background: none !important;
	border: none !important;
	padding: 5px !important;
	border-bottom: none !important;
}
div#trust-form.contact-form table tr:hover{
	background: none  !important;
	border: none !important;
	-webkit-opacity: 1 !important;
	-khtml-opacity: 1 !important;
	-moz-opacity: 1 !important;
	-ms-opacity: 1 !important;
	-o-opacity: 1 !important;
	opacity: 1 !important;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100) !important;
	-webkit-transition: none !important;
	-khtml-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}
div#trust-form.contact-form table td ul li {
	display: inline-block !important;
	padding-right: 1em !important;
}


/* jQuery Collapse-O-Matic */
.collapseomatic,
.colomat-close {
	background: none !important;
	color: #227ad1 !important;
	text-decoration: inherit !important;
	margin: 0 0 .3em .1em !important;
	padding: 0 1em 0 0 !important;
	display: block !important;
	width: auto important;
}

.collapseomatic:before,
.colomat-hover:before,
.colomat-close:before{
	font-family: 'fontawesomedirection' !important;
	font-weight: inherit !important;
	font-style: inherit !important;
	font-size: 1em;
	text-decoration: inherit !important;
	-webkit-font-smoothing: antialiased !important;
	margin: 0 .3em 0 0 !important;
	padding: 0 !important;
	display: inline-block !important;
	speak: none !important;

	-webkit-transition: all .4s !important;
	-khtml-transition: all .4s !important;
	-moz-transition: all .4s !important;
	-ms-transition: all .4s !important;
	-o-transition: all .4s !important;
	transition: all .4s !important;
}

.collapseomatic:before,
.colomat-hover:before {
	/* icon-caret-down */
	content: "\f0d7" !important
}
.collapseomatic:hover,
.colomat-hover {
	text-decoration: underline !important;
}

.colomat-close:before{
	/* icon-caret-right */
	content: "\f0da" !important;
}
.colomat-close:hover {
	text-decoration: underline !important;
}

.collapseomatic_excerpt, .collapseomatic_content {
	margin: -.6em 0 0 2em !important;
	padding: 0 !important;
}




@media print {

body {
	background: none !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}

/* header */
#header-container {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}

/* sidebar */
#sidebar-shell-1,
#sidebar-shell-2,
.sidebar-shell {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}
#sidebar, #sidebar-b,
#sidebar-2, #sidebar-2-b {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}
#sidebar.left, #sidebar-b.left,
#sidebar-2.left, #sidebar-2-b.left,
#wsidebar-top.left, #wsidebar-bottom.left {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}
#sidebar.right, #sidebar-b.right,
#sidebar-2.right, #sidebar-2-b.right,
#wsidebar-top.right, #wsidebar-bottom.right {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}
#wsidebar-top, #wsidebar-bottom {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}
#wsidebar-bottom {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}

/* Other Widget Areas */
#right-header-widgets, #top-bar-right-widgets {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}
#left-header-widgets,
#top-bar-left-widgets {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}
#horizontal-outer-widgets-1,
#horizontal-outer-widgets-2 {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}

/* footer */
footer {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}

/* WP-Plugins */
.breadcrumb,
.wp-print {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}

/* Parallax Image */
#postheader,
#postheader ul,
#postheader ul li,
#postheader-content {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}

/* wrapper */
#wrapper {
	background: none !important;
	clear: both !important;
	display: block !important;
	float: none !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	position: relative !important;
}

/* Main column */
#main-col,
#single-col,
#content,
.post, article.page {
	background: none !important;
	clear: both !important;
	display: block !important;
	float: none !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	position: relative !important;
}
.np {
	display: none !important;
	width: 0 !important;
	height: 0 !important;
}

}
